extends layout

block content
  body
     div(data-role='page', data-theme='b', class="page sarah-page")
      div(class="container")
        div(data-role='header', class = "header")
          a(class="back"  data-rel="back" data-role="none")
            div(class="back-arrow")
              img(src='/images/Back_arrow.png')
            div(data-role='icon', class="icon")
              img(src='/images/mydish_icon.png')
          div(data-role='title', class="title")
            h1 myDish
        div(class="body-container")
          p #{entry.title}
          form(action='/viewEntry/#{entry.title}', method='post', id='newentry')
            textarea(id="title", type='text', name='title') #{entry.title}
            div.meal-pic
              img(id="picture", name='picture', src="#{entry.picture}") #{entry.picture}
            div.add-meal-button
              a(type="button", href='#/camera', data-theme='a') Retake Photo
            textarea(id="recipe", name='recipe', style='height:100px') #{entry.recipe}
            div(id="catsdisplay" style = "display:none") #{entry.category}
            select(id="multiselect", name='category', data-theme='a', multiple="multiple", onchange="editEntryCats();", click="populateEditEntry();")
                option(value='Entree') Entree
                option(value='Appetizers') Appetizers
                option(value='Dessert') Dessert
                option(value='Bread') Bread
                option(id="other", value='new') Other...
            textarea(id = "notes", name='notes', style='height:100px') #{entry.notes}
            div.submit-buttons
              div.cancel-button
                a(data-rel="back")
                  button(id="cancel") Back
              div.save-button
                button(id="save",data-theme='b', type='submit') Save

  script(src='/javascript/editentry.js', type = 'text/javascript')
