extends layout

block content
  body
     div(data-role='page', data-theme='b', class="page sarah-page")
      div(class="container")
        div(data-role='header', class = "header")
          a(class="back"  data-rel="back" data-role="none")
            div(class="back-arrow")
              img(src='/images/Back_arrow.png')
            div(data-role='icon', class="icon")
              img(src='/images/mydish_icon.png')
          div(data-role='title', class="title")
            h1 myDish
          a(href='#popupShare', data-rel='popup', data-role='button', data-theme="e", class="ui-btn-right add-button", data-icon="star", data-position-to="window", data-transition="pop", style="margin-top:10px;") Share
              #popupShare(data-role='popup', data-overlay-theme="a", class="ui-content")
                h3 Share this dish:
                div.social-icons-container 
                  div.social-icon
                    img(src='/images/social_icons/email.png')
                  div.social-icon
                    img(src='/images/social_icons/facebook.png')
                  div.social-icon-instagram
                    img(src='/images/social_icons/instagram.png')
                  div.social-icon
                    img(src='/images/social_icons/twitter.png')
        div(class="body-container")
          form(action='/', method='post', id='newentry')
            div.entry-title
              div.entry-title-label
                h2 Title:
              div.entry-title-entry
                textarea(id="title", type='text', name='title') #{entry.title}
                textarea(id="postid", type='text', name='postid', style="display:none") #{entry._id}
            div.meal-pic
              img(id="picture2", name='picture', src="#{entry.picture}")
              textarea(id="picture", style="display:none;",type='hidden', name='picture') #{entry.picture}
            div.add-meal-button
              a(id="gotocamera", type="button", href='', data-theme='a', onclick="takePicture();") Retake Photo
            h2 Recipe:
            textarea(id="recipe", name='recipe', style='height:100px') #{entry.recipe}
            div.category-select
              div(id="catsdisplay" style = "display:none") #{entry.category}
              select(id="multiselect", name='category', data-theme='a', multiple="multiple", onchange="editEntryCats();", click="populateEditEntry();")
                  option(data-placeholder="true") Choose a category...
                  option(value='Entree') Entree
                  option(value='Appetizers') Appetizer
                  option(value='Dessert') Dessert
            h2 Notes:
            textarea(id = "notes", name='notes', style='height:100px') #{entry.notes}
            div.submit-buttons
              div.cancel-button
                a(href='#popupCancel', data-rel='popup', data-role='button', data-theme="r", data-icon="delete", data-position-to="window", data-transition="pop") Cancel
                  #popupCancel(data-role='popup', data-overlay-theme="a")
                    div.cancel-popup
                      div.cancel-popup-text
                        p Are you sure you want to cancel?
                      div.cancel-popup-options
                        div.cancel-popup-yes
                          button(id="cancel-yes",data-theme='b') Yes
                        div.cancel-popup-no
                          button(id="cancel-no",data-theme='r') No
              div.save-button
                button(id="save",data-theme='b', type='submit', data-icon="check") Save

  script(src='/javascript/editentry.js', type = 'text/javascript')  
