extends layout

block content
  body
     div(data-role='page', data-theme='b', class="page sarah-page")
      div(class="container")
        div(data-role='header', class = "header")
          a(class="back"  data-rel="back" data-role="none")
            div(class="back-arrow")
              img(src='/images/Back_arrow.png')
            div(data-role='icon', class="icon")
              img(src='/images/mydish_icon.png')
          div(data-role='title', class="title")
            h1 myDish
          a(href='#popupShare', data-rel='popup', data-role='button', data-theme="e", class="ui-btn-right add-button", data-icon="star", data-position-to="window", data-transition="pop", style="margin-top:10px;") Share
              #popupShare(data-role='popup', data-overlay-theme="a", class="ui-content")
                h3 Share this dish:
                div.social-icons-container
                  div.social-icon
                    img(src='/images/social_icons/email.png')
                  div.social-icon
                    img(src='/images/social_icons/facebook.png')
                  div.social-icon-instagram
                    img(src='/images/social_icons/instagram.png')
                  div.social-icon
                    img(src='/images/social_icons/twitter.png')
        div(class="body-container")
          form(action='/', method='post', id='newentry')
            textarea(id="title", type='text', name='title') #{entry.title}
            div.meal-pic
              img(id="picture2", name='picture', src="#{entry.picture}")
              textarea(id="picture", name="picture", style="display:none", placeholder="#{entry.picture}") #{entry.picture}
            div.add-meal-button
              button(data-theme='a') Retake Photo
            textarea(id="recipe", name='recipe', style='height:100px') #{entry.recipe}
            div(id="catsdisplay" style = "display:none") #{entry.category}
            select(id="multiselect", name='category', data-theme='a', multiple="multiple", onchange="editEntryCats();", click="populateEditEntry();")
                option(data-placeholder="true") Choose a category...
                option(value='Entree') Entree
                option(value='Appetizers') Appetizer
                option(value='Dessert') Dessert
            textarea(id = "notes", name='notes', style='height:100px') #{entry.notes}
            div.submit-buttons
              div.cancel-button
                a(data-rel="back")
                  button(id="cancel", data-icon="back", data-theme="c") Back
              div.save-button
                button(id="save",data-theme='b', type='submit', data-icon="check") Save

  script(src='/javascript/editentry.js', type = 'text/javascript')  
